// COLORS
$primary-color: #196b69; // #009688; // #02aab0
$secondary-color: #4caf50;
// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #f2f2f2;
$primary-dark: #1e1e1e;
$secondary-dark: #252526;

$dark-grey: #252526;

$white-color-text: #f2f2f2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
